*{
    box-sizing: border-box;
}
body,html{    
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}
.header{
    text-align: left;
}
.header{
    background-image: linear-gradient(to right, #f08f47, #f46f45);
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 0 0 3rem 3rem;
}
.header-text{
    color: #fff;
    margin-bottom: 3rem;
}
.header-text h1{
   font-size: 48px;
  }
.header-text p{
    font-size: 18px;
}
.header-text button{
    background-color: #fff;
    color:#e1552a;
    font-size: 18px;
    cursor: pointer;
    margin-top: 2rem;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
}
.main{
    background-color: #fff;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: -3rem;
    padding: 1rem;
    padding-top: 2rem;
    box-shadow: 0 0 12px 4px #ddd;
    border-radius: 3rem;
}
.main h2,p{
    text-align: center;
}
.main-random{
    display: block;
}
.main-random .copy-box{
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
}
.main-random .copy-box select{
    margin-bottom: 1rem;
    padding: 6px 8px;
}
.main-random input{
    display: inline;
    padding: 8px 14px;
}
.main-random .btn-copy{
    display: inline;
    background-color: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
}
.main #gradient-box{
    background: linear-gradient(to right,rgb(85, 249,226),rgb(240,20,127));
    width: 300px;
    height: 200px;
    border: 5px solid #ccc;
    margin: auto;
    margin-top: 2rem;
    box-shadow: 0 0 12px 4px #ddd;
}
.main-random .btn-random{
    display: block;
    margin: auto;
    background-color: rgb(11, 10, 10);
    color:#ffffff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 2rem;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
}
.footer{
    margin-top: 3rem;
}
.footer .social{
    text-align: center;
}
.social i{
    font-size: 24px;
   color: black;
}